.radio-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lightning-input .radio {
    margin-right: 10px;
}

.field-label {
    display: flex;
}

.required-asterisk {
    color: #B90516;
}

.required-invalid {
    color: #B90516;
}
